USE [master]
GO
/****** Object:  Database [TP_DWH_MCD_2025]    Script Date: 6/5/2025 23:41:28 ******/
CREATE DATABASE [TP_DWH_MCD_2025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP_DWH_MCD_2025', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TP_DWH_MCD_2025.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP_DWH_MCD_2025_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TP_DWH_MCD_2025_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_DWH_MCD_2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_DWH_MCD_2025]
GO
/****** Object:  Schema [DWH]    Script Date: 6/5/2025 23:41:28 ******/
CREATE SCHEMA [DWH]
GO
/****** Object:  Schema [LOG]    Script Date: 6/5/2025 23:41:28 ******/
CREATE SCHEMA [LOG]
GO
/****** Object:  Schema [STG]    Script Date: 6/5/2025 23:41:28 ******/
CREATE SCHEMA [STG]
GO
/****** Object:  Schema [TMP]    Script Date: 6/5/2025 23:41:28 ******/
CREATE SCHEMA [TMP]
GO
/****** Object:  Table [DWH].[LK_CATEGORIES]    Script Date: 6/5/2025 23:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_CATEGORIES](
	[Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_CD] [varchar](10) NULL,
	[Category_Name] [varchar](50) NULL,
	[Category_Description] [varchar](200) NULL,
	[Category_Picture] [varchar](2000) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_COUNTRIES]    Script Date: 6/5/2025 23:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_COUNTRIES](
	[Ctry_Country_Id] [int] IDENTITY(1,1) NOT NULL,
	[Ctry_Name] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ctry_Country_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_CUSTOMER_DEMOGRAPHICS]    Script Date: 6/5/2025 23:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_CUSTOMER_DEMOGRAPHICS](
	[CusDem_Customer_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[CusDem_Customer_Type] [varchar](10) NULL,
	[CusDem_Customer_Description] [varchar](10) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CusDem_Customer_Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_CUSTOMERS]    Script Date: 6/5/2025 23:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_CUSTOMERS](
	[Cus_Customer_id] [int] IDENTITY(1,1) NOT NULL,
	[Cus_Customer_CD] [varchar](50) NOT NULL,
	[Cus_Company_Name] [varchar](50) NOT NULL,
	[Cus_Contact_Name] [varchar](50) NULL,
	[Cus_Contact_Title] [varchar](50) NULL,
	[Cus_address] [varchar](50) NULL,
	[Cus_City] [varchar](50) NULL,
	[Cus_Region_id] [int] NOT NULL,
	[Cus_Postal_Code] [varchar](50) NULL,
	[Cus_Country_id] [int] NOT NULL,
	[Cus_Phone] [varchar](50) NULL,
	[Cus_fax] [varchar](50) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cus_Customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_EMPLOYEES]    Script Date: 6/5/2025 23:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_EMPLOYEES](
	[Emp_Employee_id] [int] IDENTITY(1,1) NOT NULL,
	[Emp_Employee_CD] [varchar](50) NOT NULL,
	[Emp_Last_name] [varchar](50) NOT NULL,
	[Emp_First_name] [varchar](50) NOT NULL,
	[Emp_title] [varchar](50) NULL,
	[Emp_title_of_courtesy] [varchar](50) NULL,
	[Emp_birth_date] [date] NULL,
	[Emp_hire_date] [date] NULL,
	[Emp_address] [varchar](100) NULL,
	[Emp_city] [varchar](50) NULL,
	[Emp_Region_id] [int] NULL,
	[Emp_postal_Code] [varchar](50) NULL,
	[Emp_home_phone] [varchar](50) NULL,
	[Emp_extension] [varchar](10) NULL,
	[Emp_photo] [varchar](1000) NULL,
	[Emp_notes] [varchar](1000) NULL,
	[Emp_report_to_id] [int] NOT NULL,
	[Emp_photo_path] [varchar](50) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Emp_Employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_EMPLOYEES_TERRITORIES]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_EMPLOYEES_TERRITORIES](
	[EmpTer_EmployeeTerritory_id] [int] IDENTITY(1,1) NOT NULL,
	[EmpTer_Employee_id] [int] NOT NULL,
	[EmpTer_Territory_Id] [int] NOT NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpTer_EmployeeTerritory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_ORDERS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_ORDERS](
	[Ord_Order_id] [int] IDENTITY(1,1) NOT NULL,
	[Ord_Order_CD] [varchar](50) NULL,
	[Ord_Customer_id] [int] NULL,
	[Ord_Employee_id] [int] NULL,
	[Ord_Order_Date] [date] NOT NULL,
	[Ord_Required_Date] [date] NULL,
	[Ord_Shipped_Date] [date] NULL,
	[Ord_Ship_Via] [int] NOT NULL,
	[Ord_Freight] [varchar](50) NULL,
	[Ord_Ship_name] [varchar](50) NULL,
	[Ord_Ship_Address] [varchar](50) NULL,
	[Ord_Ship_City] [varchar](50) NULL,
	[Ord_Ship_Region_Id] [int] NOT NULL,
	[Ord_Ship_PostalCode] [varchar](50) NULL,
	[Ord_Ship_Country_id] [int] NOT NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ord_Order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_ORDERS_DETAILS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_ORDERS_DETAILS](
	[OrdDet_Order_Detail_id] [int] IDENTITY(1,1) NOT NULL,
	[OrdDet_Order_id] [int] NOT NULL,
	[OrdDet_Product_id] [int] NOT NULL,
	[OrdDet_Unit_Price] [decimal](10, 2) NULL,
	[OrdDet_Quantity] [decimal](10, 2) NULL,
	[OrdDet_Discount] [decimal](10, 2) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdDet_Order_Detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_PRODUCTS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_PRODUCTS](
	[prod_product_id] [int] IDENTITY(1,1) NOT NULL,
	[prod_product_CD] [varchar](10) NULL,
	[prod_product_name] [varchar](50) NULL,
	[prod_supplier_id] [int] NOT NULL,
	[prod_category_id] [int] NOT NULL,
	[prod_Quantity_per_unit] [varchar](50) NULL,
	[prod_unit_price] [decimal](10, 2) NULL,
	[prod_units_in_stock] [decimal](10, 2) NULL,
	[prod_units_on_order] [decimal](10, 2) NULL,
	[prod_reorder_level] [int] NULL,
	[prod_discontinued] [bit] NOT NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[prod_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_REGIONS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_REGIONS](
	[Region_Id] [int] IDENTITY(1,1) NOT NULL,
	[Region_CD] [varchar](10) NOT NULL,
	[Region_Description] [varchar](50) NOT NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Region_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_REL_CUSTOMERS_CUSDEMO]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_REL_CUSTOMERS_CUSDEMO](
	[CusCusDemo_Customer_CusDEMO_id] [int] IDENTITY(1,1) NOT NULL,
	[CusCusDemo_Customer_id] [int] NOT NULL,
	[CusCusDemo_Customer_Type_id] [int] NOT NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CusCusDemo_Customer_CusDEMO_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_REL_REGION_COUNTRIES]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_REL_REGION_COUNTRIES](
	[RELRC_RegionCountry_Id] [int] IDENTITY(1,1) NOT NULL,
	[RELRC_RegionId] [int] NOT NULL,
	[RELRC_CountryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RELRC_RegionCountry_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_SHIPPERS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_SHIPPERS](
	[Ship_Shipper_id] [int] IDENTITY(1,1) NOT NULL,
	[Ship_Shipper_CD] [varchar](10) NOT NULL,
	[Ship_Company_Name] [varchar](50) NOT NULL,
	[Ship_Phone] [varchar](50) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ship_Shipper_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_SUPPLIERS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_SUPPLIERS](
	[Supp_Supplier_Id] [int] IDENTITY(1,1) NOT NULL,
	[Supp_CD] [varchar](10) NULL,
	[Supp_companyName] [varchar](50) NULL,
	[Supp_contactName] [varchar](50) NULL,
	[Supp_contactTitle] [varchar](50) NULL,
	[Supp_address] [varchar](100) NULL,
	[Supp_City] [varchar](100) NULL,
	[Supp_Id_Region] [int] NOT NULL,
	[Supp_PostalCode] [varchar](20) NULL,
	[Supp_Id_Country] [int] NOT NULL,
	[Supp_ID_DatoContacto] [int] NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Supp_Supplier_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_SUPPLIERS_DATOS_Contacto]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_SUPPLIERS_DATOS_Contacto](
	[DatC_Contacto_Id] [int] IDENTITY(1,1) NOT NULL,
	[Dat_SupplierId] [int] NOT NULL,
	[Dat_Phone] [varchar](50) NULL,
	[Dat_Fax] [varchar](50) NULL,
	[Dat_HomePage] [varchar](50) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DatC_Contacto_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[LK_TERRITORIES]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[LK_TERRITORIES](
	[Territory_Id] [int] IDENTITY(1,1) NOT NULL,
	[Territory_CD] [varchar](10) NOT NULL,
	[Territory_Description] [varchar](50) NOT NULL,
	[Territory_Region_Id] [int] NOT NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTIVE_FLAG] [int] NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Territory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [LOG].[AUDIT_JOBS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOG].[AUDIT_JOBS](
	[AUDJOB_Job_Id] [int] IDENTITY(1,1) NOT NULL,
	[AUDJOB_Job_Name] [varchar](50) NOT NULL,
	[AUDPD_INSERT_DT] [datetime] NOT NULL,
	[AUDPD_USER_INSERT] [varchar](50) NOT NULL,
	[AUDPD_ACTIVE_FLAG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AUDJOB_Job_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [LOG].[AUDIT_PROCESS_DATE]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOG].[AUDIT_PROCESS_DATE](
	[AUDPD_Id] [int] IDENTITY(1,1) NOT NULL,
	[AUDPD_JobId] [int] NOT NULL,
	[AUDPD_Start_Date] [datetime] NOT NULL,
	[AUDPD_END_Data] [datetime] NULL,
	[AUDPD_Status_ID] [int] NOT NULL,
	[AUDPD_Observations] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AUDPD_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [LOG].[AUDIT_STATUS_PROCESS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOG].[AUDIT_STATUS_PROCESS](
	[AUDSP_Status_Id] [int] IDENTITY(1,1) NOT NULL,
	[AUDPD_Status] [varchar](50) NOT NULL,
	[AUDPD_INSERT_DT] [datetime] NOT NULL,
	[AUDPD_USER_INSERT] [varchar](50) NOT NULL,
	[AUDPD_ACTIVE_FLAG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AUDSP_Status_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [LOG].[DATA_QUALITY_CHECKS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOG].[DATA_QUALITY_CHECKS](
	[AUDDQ_DQ_ID] [int] IDENTITY(1,1) NOT NULL,
	[AUDDQ_ENTITY_NAME] [varchar](100) NOT NULL,
	[AUDDQ_TOTAL_RECORDS] [int] NULL,
	[AUDDQ_INVALID_RECORDS] [int] NULL,
	[AUDDQ_PERCENT_INVALID] [decimal](5, 2) NULL,
	[AUDDQ_CHECK_DATE] [datetime] NOT NULL,
	[AUDDQ_JOB_ID] [int] NULL,
	[AUDDQ_OBSERVATIONS] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AUDDQ_DQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_CATEGORIES]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_CATEGORIES](
	[Category_CD] [varchar](10) NULL,
	[Category_Name] [varchar](50) NULL,
	[Category_Description] [varchar](200) NULL,
	[Category_Picture] [varchar](2000) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_COUNTRIES]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_COUNTRIES](
	[Country_CD] [varchar](10) NOT NULL,
	[Country_Name] [varchar](50) NOT NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_CUSTOMER_DEMOGRAPHICS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_CUSTOMER_DEMOGRAPHICS](
	[CusDem_Customer_Type] [varchar](10) NULL,
	[CusDem_Customer_Description] [varchar](10) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_CUSTOMERS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_CUSTOMERS](
	[Cus_Customer_CD] [varchar](50) NOT NULL,
	[Cus_Company_Name] [varchar](50) NOT NULL,
	[Cus_Contact_Name] [varchar](50) NULL,
	[Cus_Contact_Title] [varchar](50) NULL,
	[Cus_address] [varchar](50) NULL,
	[Cus_City] [varchar](50) NULL,
	[Cus_Region_id] [int] NOT NULL,
	[Cus_Postal_Code] [varchar](50) NULL,
	[Cus_Country_id] [int] NOT NULL,
	[Cus_Phone] [varchar](50) NULL,
	[Cus_fax] [varchar](50) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_EMPLOYEES]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_EMPLOYEES](
	[Emp_Employee_CD] [varchar](50) NOT NULL,
	[Emp_Last_name] [varchar](50) NOT NULL,
	[Emp_First_name] [varchar](50) NOT NULL,
	[Emp_title] [varchar](50) NULL,
	[Emp_title_of_courtesy] [varchar](50) NULL,
	[Emp_birth_date] [date] NULL,
	[Emp_hire_date] [date] NULL,
	[Emp_address] [varchar](100) NULL,
	[Emp_city] [varchar](50) NULL,
	[Emp_Region_id] [varchar](50) NULL,
	[Emp_postal_Code] [varchar](50) NULL,
	[Emp_home_phone] [varchar](50) NULL,
	[Emp_extension] [varchar](10) NULL,
	[Emp_photo] [varchar](1000) NULL,
	[Emp_notes] [varchar](1000) NULL,
	[Emp_report_to_id] [int] NOT NULL,
	[Emp_photo_path] [varchar](50) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_EMPLOYEES_TERRITORIES]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_EMPLOYEES_TERRITORIES](
	[EmpTer_Employee_CD] [varchar](50) NULL,
	[EmpTer_Territory_CD] [varchar](50) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_ORDERS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_ORDERS](
	[Ord_Order_CD] [varchar](50) NULL,
	[Ord_Customer_id] [int] NULL,
	[Ord_Employee_id] [int] NULL,
	[Ord_Order_Date] [date] NOT NULL,
	[Ord_Required_Date] [date] NULL,
	[Ord_Shipped_Date] [date] NULL,
	[Ord_Ship_Via] [varchar](50) NULL,
	[Ord_Freight] [varchar](50) NULL,
	[Ord_Ship_name] [varchar](50) NULL,
	[Ord_Ship_Address] [varchar](50) NULL,
	[Ord_Ship_City] [varchar](50) NULL,
	[Ord_Ship_Region_Id] [int] NOT NULL,
	[Ord_Ship_PostalCode] [varchar](50) NULL,
	[Ord_Ship_Country_id] [int] NOT NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_ORDERS_DETAILS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_ORDERS_DETAILS](
	[OrdDet_Order_id] [int] NOT NULL,
	[OrdDet_Product_id] [int] NOT NULL,
	[OrdDet_Unit_Price] [decimal](10, 2) NULL,
	[OrdDet_Quantity] [decimal](10, 2) NULL,
	[OrdDet_Discount] [decimal](10, 2) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_PRODUCTS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_PRODUCTS](
	[prod_product_CD] [varchar](10) NULL,
	[prod_product_name] [varchar](50) NULL,
	[prod_supplier_id] [int] NOT NULL,
	[prod_category_id] [int] NOT NULL,
	[prod_Quantity_per_unit] [varchar](50) NULL,
	[prod_unit_price] [decimal](10, 2) NULL,
	[prod_units_in_stock] [decimal](10, 2) NULL,
	[prod_units_on_order] [decimal](10, 2) NULL,
	[prod_reorder_level] [int] NULL,
	[prod_discontinued] [bit] NOT NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_REGIONS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_REGIONS](
	[Region_CD] [varchar](10) NOT NULL,
	[Region_Description] [varchar](50) NOT NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_REL_CUSTOMERS_CUSDEMO]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_REL_CUSTOMERS_CUSDEMO](
	[CusCusDemo_Customer_id] [int] NOT NULL,
	[CusCusDemo_Customer_Type_id] [int] NOT NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_SHIPPERS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_SHIPPERS](
	[Ship_Shipper_CD] [varchar](10) NOT NULL,
	[Ship_Company_Name] [varchar](50) NOT NULL,
	[Ship_Phone] [varchar](50) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_SUPPLIERS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_SUPPLIERS](
	[Supp_CD] [varchar](10) NULL,
	[Supp_companyName] [varchar](50) NULL,
	[Supp_contactName] [varchar](50) NULL,
	[Supp_contactTitle] [varchar](50) NULL,
	[Supp_address] [varchar](100) NULL,
	[Supp_City] [varchar](100) NULL,
	[Supp_Id_Region] [int] NOT NULL,
	[Supp_PostalCode] [varchar](20) NULL,
	[Supp_Id_Country] [int] NOT NULL,
	[Supp_ID_DatoContacto] [int] NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_SUPPLIERS_DATOS_Contacto]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_SUPPLIERS_DATOS_Contacto](
	[Dat_SupplierId] [int] NOT NULL,
	[Dat_Phone] [varchar](50) NULL,
	[Dat_Fax] [varchar](50) NULL,
	[Dat_HomePage] [varchar](50) NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[LK_TERRITORIES]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[LK_TERRITORIES](
	[Territory_CD] [varchar](10) NOT NULL,
	[Territory_Description] [varchar](50) NOT NULL,
	[Territory_Region_Id] [int] NOT NULL,
	[AUD_INSERT_DT] [datetime] NOT NULL,
	[AUD_USER_INSERT] [varchar](50) NOT NULL,
	[AUD_ACTION] [varchar](50) NOT NULL,
	[AUD_ROWID] [varbinary](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TMP].[CATEGORIES]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[CATEGORIES](
	[Category_CD] [varchar](10) NULL,
	[Category_Name] [varchar](50) NULL,
	[Category_Description] [varchar](200) NULL,
	[Category_Picture] [varchar](2000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TMP].[COUNTRIES]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[COUNTRIES](
	[Country] [varchar](50) NULL,
	[Density] [varchar](50) NULL,
	[Abbreviation] [varchar](50) NULL,
	[Agricultural_Land] [varchar](50) NULL,
	[Land_Area] [varchar](50) NULL,
	[Armed_Force_Size] [varchar](50) NULL,
	[Capital] [varchar](50) NULL,
	[Currency_Code] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TMP].[CUSTOMER_DEMOGRAPHICS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[CUSTOMER_DEMOGRAPHICS](
	[Customer_Type] [varchar](10) NULL,
	[Customer_Description] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TMP].[CUSTOMERS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[CUSTOMERS](
	[Customer_CD] [varchar](50) NULL,
	[Company_Name] [varchar](50) NULL,
	[Contact_Name] [varchar](50) NULL,
	[Contact_Title] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[Region] [varchar](50) NULL,
	[POstal_Code] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[fax] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TMP].[EMPLOYEES]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[EMPLOYEES](
	[Employee_CD] [varchar](50) NULL,
	[Last_name] [varchar](50) NULL,
	[First_name] [varchar](50) NULL,
	[title] [varchar](50) NULL,
	[title_of_courtesy] [varchar](50) NULL,
	[birth_date] [varchar](50) NULL,
	[hire_date] [varchar](50) NULL,
	[address] [varchar](100) NULL,
	[city] [varchar](50) NULL,
	[region_cd] [varchar](50) NULL,
	[postal_Code] [varchar](50) NULL,
	[home_phone] [varchar](50) NULL,
	[extension] [varchar](10) NULL,
	[photo] [varchar](1000) NULL,
	[notes] [varchar](1000) NULL,
	[report_to] [varchar](50) NULL,
	[photo_path] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TMP].[EMPLOYEES_TERRITORIES]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[EMPLOYEES_TERRITORIES](
	[Employee_CD] [varchar](50) NULL,
	[Territory_CD] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TMP].[ORDERS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[ORDERS](
	[Order_CD] [varchar](50) NULL,
	[Customer_cd] [varchar](50) NULL,
	[Employee_cd] [varchar](50) NULL,
	[Order_Date] [varchar](50) NULL,
	[Required_Date] [varchar](50) NULL,
	[Shipped_Date] [varchar](50) NULL,
	[Ship_Via] [varchar](50) NULL,
	[Freight] [varchar](50) NULL,
	[Ship_name] [varchar](50) NULL,
	[Ship_Address] [varchar](50) NULL,
	[Ship_City] [varchar](50) NULL,
	[Ship_Region] [varchar](50) NULL,
	[Ship_PostalCode] [varchar](50) NULL,
	[Ship_Country] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TMP].[ORDERS_DETAILS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[ORDERS_DETAILS](
	[Order_CD] [varchar](50) NULL,
	[Product_cd] [varchar](50) NULL,
	[Unit_Price] [varchar](50) NULL,
	[Quantity] [varchar](50) NULL,
	[Discount] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TMP].[PRODUCTS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[PRODUCTS](
	[product_CD] [varchar](10) NULL,
	[product_name] [varchar](50) NULL,
	[supplier_cd] [varchar](10) NULL,
	[category_cd] [varchar](10) NULL,
	[Quantity_per_unit] [varchar](50) NULL,
	[unit_price] [varchar](10) NULL,
	[units_in_stock] [varchar](10) NULL,
	[units_on_order] [varchar](10) NULL,
	[reorder_level] [varchar](10) NULL,
	[discontinued] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TMP].[REGIONS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[REGIONS](
	[Region_CD] [varchar](10) NULL,
	[Region_Description] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TMP].[SHIPPERS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[SHIPPERS](
	[Shipper_CD] [varchar](10) NULL,
	[Company_Name] [varchar](50) NULL,
	[Phone] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TMP].[SUPPLIERS]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[SUPPLIERS](
	[Supp_CD] [varchar](10) NULL,
	[Supp_companyName] [varchar](50) NULL,
	[Supp_contactName] [varchar](50) NULL,
	[Supp_contactTitle] [varchar](50) NULL,
	[Supp_address] [varchar](100) NULL,
	[Supp_City] [varchar](100) NULL,
	[Supp_Region] [varchar](100) NULL,
	[Supp_PostalCode] [varchar](20) NULL,
	[Supp_Country] [varchar](50) NULL,
	[Supp_Phone] [varchar](50) NULL,
	[Supp_Fax] [varchar](50) NULL,
	[Supp_HomePage] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TMP].[TERRITORIES]    Script Date: 6/5/2025 23:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[TERRITORIES](
	[Territory_CD] [varchar](10) NULL,
	[Territory_Description] [varchar](50) NULL,
	[Region_CD] [varchar](10) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [DWH].[LK_CATEGORIES] ON 

SET IDENTITY_INSERT [DWH].[LK_CATEGORIES] OFF
GO
SET IDENTITY_INSERT [DWH].[LK_REGIONS] ON 

INSERT [DWH].[LK_REGIONS] ([Region_Id], [Region_CD], [Region_Description], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTIVE_FLAG], [AUD_ROWID]) VALUES (1, N'1', N'Eastern', CAST(N'2025-05-06T22:33:27.450' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1, 0x7CBABAA0)
INSERT [DWH].[LK_REGIONS] ([Region_Id], [Region_CD], [Region_Description], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTIVE_FLAG], [AUD_ROWID]) VALUES (2, N'2', N'Western', CAST(N'2025-05-06T22:33:27.450' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1, 0x74EAB9B0)
INSERT [DWH].[LK_REGIONS] ([Region_Id], [Region_CD], [Region_Description], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTIVE_FLAG], [AUD_ROWID]) VALUES (3, N'3', N'Northern', CAST(N'2025-05-06T22:33:27.450' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1, 0x273D7741)
SET IDENTITY_INSERT [DWH].[LK_REGIONS] OFF
GO
SET IDENTITY_INSERT [DWH].[LK_SHIPPERS] ON 

INSERT [DWH].[LK_SHIPPERS] ([Ship_Shipper_id], [Ship_Shipper_CD], [Ship_Company_Name], [Ship_Phone], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTIVE_FLAG], [AUD_ROWID]) VALUES (1, N'1', N'Speedy Express', N'(503) 555-9831', CAST(N'2025-05-06T23:10:30.690' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1, 0x181723D4)
INSERT [DWH].[LK_SHIPPERS] ([Ship_Shipper_id], [Ship_Shipper_CD], [Ship_Company_Name], [Ship_Phone], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTIVE_FLAG], [AUD_ROWID]) VALUES (2, N'2', N'United Package', N'(503) 555-3199', CAST(N'2025-05-06T23:10:30.690' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1, 0x39F447B0)
INSERT [DWH].[LK_SHIPPERS] ([Ship_Shipper_id], [Ship_Shipper_CD], [Ship_Company_Name], [Ship_Phone], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTIVE_FLAG], [AUD_ROWID]) VALUES (3, N'3', N'Federal Shipping', N'(503) 555-9931', CAST(N'2025-05-06T23:10:30.690' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1, 0x1E03941E)
SET IDENTITY_INSERT [DWH].[LK_SHIPPERS] OFF
GO
SET IDENTITY_INSERT [DWH].[LK_TERRITORIES] ON 

INSERT [DWH].[LK_TERRITORIES] ([Territory_Id], [Territory_CD], [Territory_Description], [Territory_Region_Id], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTIVE_FLAG], [AUD_ROWID]) VALUES (1, N'01581', N'Westboro', 1, CAST(N'2025-05-06T23:36:19.890' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1, 0x35B2F206)
INSERT [DWH].[LK_TERRITORIES] ([Territory_Id], [Territory_CD], [Territory_Description], [Territory_Region_Id], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTIVE_FLAG], [AUD_ROWID]) VALUES (2, N'01730', N'Bedford', 1, CAST(N'2025-05-06T23:36:19.890' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1, 0xD1A4E97D)
INSERT [DWH].[LK_TERRITORIES] ([Territory_Id], [Territory_CD], [Territory_Description], [Territory_Region_Id], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTIVE_FLAG], [AUD_ROWID]) VALUES (3, N'01833', N'Georgetow', 1, CAST(N'2025-05-06T23:36:19.890' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1, 0x84210774)
SET IDENTITY_INSERT [DWH].[LK_TERRITORIES] OFF
GO
SET IDENTITY_INSERT [LOG].[AUDIT_JOBS] ON 

INSERT [LOG].[AUDIT_JOBS] ([AUDJOB_Job_Id], [AUDJOB_Job_Name], [AUDPD_INSERT_DT], [AUDPD_USER_INSERT], [AUDPD_ACTIVE_FLAG]) VALUES (1, N'TMP_Shippers', CAST(N'2025-05-01T21:24:42.827' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1)
INSERT [LOG].[AUDIT_JOBS] ([AUDJOB_Job_Id], [AUDJOB_Job_Name], [AUDPD_INSERT_DT], [AUDPD_USER_INSERT], [AUDPD_ACTIVE_FLAG]) VALUES (2, N'TMP_Regions', CAST(N'2025-05-02T17:31:10.123' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1)
INSERT [LOG].[AUDIT_JOBS] ([AUDJOB_Job_Id], [AUDJOB_Job_Name], [AUDPD_INSERT_DT], [AUDPD_USER_INSERT], [AUDPD_ACTIVE_FLAG]) VALUES (3, N'TMP_Territories', CAST(N'2025-05-02T17:34:17.500' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1)
SET IDENTITY_INSERT [LOG].[AUDIT_JOBS] OFF
GO
SET IDENTITY_INSERT [LOG].[AUDIT_PROCESS_DATE] ON 

INSERT [LOG].[AUDIT_PROCESS_DATE] ([AUDPD_Id], [AUDPD_JobId], [AUDPD_Start_Date], [AUDPD_END_Data], [AUDPD_Status_ID], [AUDPD_Observations]) VALUES (1, 1, CAST(N'2025-05-01T21:55:50.250' AS DateTime), CAST(N'2025-05-01T22:12:11.980' AS DateTime), 3, N'Fin automático')
INSERT [LOG].[AUDIT_PROCESS_DATE] ([AUDPD_Id], [AUDPD_JobId], [AUDPD_Start_Date], [AUDPD_END_Data], [AUDPD_Status_ID], [AUDPD_Observations]) VALUES (2, 1, CAST(N'2025-05-01T22:00:15.310' AS DateTime), CAST(N'2025-05-01T22:15:15.670' AS DateTime), 3, N'Fin automático')
INSERT [LOG].[AUDIT_PROCESS_DATE] ([AUDPD_Id], [AUDPD_JobId], [AUDPD_Start_Date], [AUDPD_END_Data], [AUDPD_Status_ID], [AUDPD_Observations]) VALUES (3, 1, CAST(N'2025-05-01T22:04:31.887' AS DateTime), CAST(N'2025-05-01T22:39:54.503' AS DateTime), 3, N'Fin automático')
SET IDENTITY_INSERT [LOG].[AUDIT_PROCESS_DATE] OFF
GO
SET IDENTITY_INSERT [LOG].[AUDIT_STATUS_PROCESS] ON 

INSERT [LOG].[AUDIT_STATUS_PROCESS] ([AUDSP_Status_Id], [AUDPD_Status], [AUDPD_INSERT_DT], [AUDPD_USER_INSERT], [AUDPD_ACTIVE_FLAG]) VALUES (1, N'RUNNING', CAST(N'2025-05-01T21:32:21.750' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1)
INSERT [LOG].[AUDIT_STATUS_PROCESS] ([AUDSP_Status_Id], [AUDPD_Status], [AUDPD_INSERT_DT], [AUDPD_USER_INSERT], [AUDPD_ACTIVE_FLAG]) VALUES (2, N'ABORT', CAST(N'2025-05-01T21:32:21.753' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1)
INSERT [LOG].[AUDIT_STATUS_PROCESS] ([AUDSP_Status_Id], [AUDPD_Status], [AUDPD_INSERT_DT], [AUDPD_USER_INSERT], [AUDPD_ACTIVE_FLAG]) VALUES (3, N'FINISH', CAST(N'2025-05-01T21:32:21.753' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', 1)
SET IDENTITY_INSERT [LOG].[AUDIT_STATUS_PROCESS] OFF
GO
INSERT [STG].[LK_CATEGORIES] ([Category_CD], [Category_Name], [Category_Description], [Category_Picture], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTION], [AUD_ROWID]) VALUES (N'1', N'Beverages', N'Soft drinks coffees teas beers and ales', N'0x151C2F00020000000D000E0014002100FFFFFFFF4269746D617020496D616765005061696E742E5069637475726500010500000200000007000000504272757368000000000000000000A0290000424D98290000000000005600000028000000AC00000078000000010004000000000000000000880B0000880B0000080000', CAST(N'2025-05-06T22:26:08.187' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', N'INSERT', 0xC380D616)
INSERT [STG].[LK_CATEGORIES] ([Category_CD], [Category_Name], [Category_Description], [Category_Picture], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTION], [AUD_ROWID]) VALUES (N'3', N'Confections', N'Desserts candies and sweet breads', N'0x151C2F00020000000D000E0014002100FFFFFFFF4269746D617020496D616765005061696E742E5069637475726500010500000200000007000000504272757368000000000000000000A0290000424D98290000000000005600000028000000AC00000078000000010004000000000000000000880B0000880B0000080000', CAST(N'2025-05-06T22:26:08.187' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', N'INSERT', 0xEC38CDC1)
GO
INSERT [STG].[LK_REGIONS] ([Region_CD], [Region_Description], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTION], [AUD_ROWID]) VALUES (N'1', N'Eastern', CAST(N'2025-05-06T22:31:00.170' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', N'INSERT', 0x7CBABAA0)
INSERT [STG].[LK_REGIONS] ([Region_CD], [Region_Description], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTION], [AUD_ROWID]) VALUES (N'2', N'Western', CAST(N'2025-05-06T22:31:00.170' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', N'INSERT', 0x74EAB9B0)
INSERT [STG].[LK_REGIONS] ([Region_CD], [Region_Description], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTION], [AUD_ROWID]) VALUES (N'3', N'Northern', CAST(N'2025-05-06T22:31:00.170' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', N'INSERT', 0x273D7741)
GO
INSERT [STG].[LK_SHIPPERS] ([Ship_Shipper_CD], [Ship_Company_Name], [Ship_Phone], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTION], [AUD_ROWID]) VALUES (N'1', N'Speedy Express', N'(503) 555-9831', CAST(N'2025-05-06T22:47:15.103' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', N'INSERT', 0x181723D4)
INSERT [STG].[LK_SHIPPERS] ([Ship_Shipper_CD], [Ship_Company_Name], [Ship_Phone], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTION], [AUD_ROWID]) VALUES (N'2', N'United Package', N'(503) 555-3199', CAST(N'2025-05-06T22:47:15.103' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', N'INSERT', 0x39F447B0)
INSERT [STG].[LK_SHIPPERS] ([Ship_Shipper_CD], [Ship_Company_Name], [Ship_Phone], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTION], [AUD_ROWID]) VALUES (N'3', N'Federal Shipping', N'(503) 555-9931', CAST(N'2025-05-06T22:47:15.103' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', N'INSERT', 0x1E03941E)
GO
INSERT [STG].[LK_TERRITORIES] ([Territory_CD], [Territory_Description], [Territory_Region_Id], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTION], [AUD_ROWID]) VALUES (N'01581', N'Westboro', 1, CAST(N'2025-05-06T23:31:21.583' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', N'INSERT', 0x35B2F206)
INSERT [STG].[LK_TERRITORIES] ([Territory_CD], [Territory_Description], [Territory_Region_Id], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTION], [AUD_ROWID]) VALUES (N'01730', N'Bedford', 1, CAST(N'2025-05-06T23:31:21.583' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', N'INSERT', 0xD1A4E97D)
INSERT [STG].[LK_TERRITORIES] ([Territory_CD], [Territory_Description], [Territory_Region_Id], [AUD_INSERT_DT], [AUD_USER_INSERT], [AUD_ACTION], [AUD_ROWID]) VALUES (N'01833', N'Georgetow', 1, CAST(N'2025-05-06T23:31:21.583' AS DateTime), N'DESKTOP-IAI1KNV\Ezequiel', N'INSERT', 0x84210774)
GO
INSERT [TMP].[CATEGORIES] ([Category_CD], [Category_Name], [Category_Description], [Category_Picture]) VALUES (N'1', N'Beverages', N'Soft drinks coffees teas beers and ales', N'0x151C2F00020000000D000E0014002100FFFFFFFF4269746D617020496D616765005061696E742E5069637475726500010500000200000007000000504272757368000000000000000000A0290000424D98290000000000005600000028000000AC00000078000000010004000000000000000000880B0000880B0000080000')
INSERT [TMP].[CATEGORIES] ([Category_CD], [Category_Name], [Category_Description], [Category_Picture]) VALUES (N'2', N'Condiments', N'Sweet and savory sauces relishes spreads and seasonings', N'0x151C2F00020000000D000E0014002100FFFFFFFF4269746D617020496D616765005061696E742E5069637475726500010500000200000007000000504272757368000000000000000000A0290000424D98290000000000005600000028000000AC00000078000000010004000000000000000000880B0000880B0000080000')
INSERT [TMP].[CATEGORIES] ([Category_CD], [Category_Name], [Category_Description], [Category_Picture]) VALUES (N'3', N'Confections', N'Desserts candies and sweet breads', N'0x151C2F00020000000D000E0014002100FFFFFFFF4269746D617020496D616765005061696E742E5069637475726500010500000200000007000000504272757368000000000000000000A0290000424D98290000000000005600000028000000AC00000078000000010004000000000000000000880B0000880B0000080000')
GO
INSERT [TMP].[COUNTRIES] ([Country], [Density], [Abbreviation], [Agricultural_Land], [Land_Area], [Armed_Force_Size], [Capital], [Currency_Code]) VALUES (N'Afghanistan', N'60', N'AF', N'58.10%', N'652,230', N'323,000', N'Kabul', N'AFN')
INSERT [TMP].[COUNTRIES] ([Country], [Density], [Abbreviation], [Agricultural_Land], [Land_Area], [Armed_Force_Size], [Capital], [Currency_Code]) VALUES (N'Albania', N'105', N'AL', N'43.10%', N'28,748', N'9,000', N'Tirana', N'ALL')
INSERT [TMP].[COUNTRIES] ([Country], [Density], [Abbreviation], [Agricultural_Land], [Land_Area], [Armed_Force_Size], [Capital], [Currency_Code]) VALUES (N'Algeria', N'18', N'DZ', N'17.40%', N'2,381,741', N'317,000', N'Algiers', N'DZD')
GO
INSERT [TMP].[CUSTOMERS] ([Customer_CD], [Company_Name], [Contact_Name], [Contact_Title], [address], [city], [Region], [POstal_Code], [Country], [Phone], [fax]) VALUES (N'ALFKI', N'Alfreds Futterkiste', N'Maria Anders', N'Sales Representative', N'Obere Str. 57', N'Berlin', N'NULL', N'12209', N'Germany', N'030-0074321', N'030-0076545')
INSERT [TMP].[CUSTOMERS] ([Customer_CD], [Company_Name], [Contact_Name], [Contact_Title], [address], [city], [Region], [POstal_Code], [Country], [Phone], [fax]) VALUES (N'ANATR', N'Ana Trujillo Emparedados y helados', N'Ana Trujillo', N'Owner', N'Avda. de la ConstituciÃ³n 2222', N'MÃ©xico D.F.', N'NULL', N'05021', N'Mexico', N'(5) 555-4729', N'(5) 555-3745')
INSERT [TMP].[CUSTOMERS] ([Customer_CD], [Company_Name], [Contact_Name], [Contact_Title], [address], [city], [Region], [POstal_Code], [Country], [Phone], [fax]) VALUES (N'ANTON', N'Antonio Moreno TaquerÃ­a', N'Antonio Moreno', N'Owner', N'Mataderos  2312', N'MÃ©xico D.F.', N'NULL', N'05023', N'Mexico', N'(5) 555-3932', N'NULL')
GO
INSERT [TMP].[EMPLOYEES_TERRITORIES] ([Employee_CD], [Territory_CD]) VALUES (N'1', N'06897')
INSERT [TMP].[EMPLOYEES_TERRITORIES] ([Employee_CD], [Territory_CD]) VALUES (N'1', N'19713')
INSERT [TMP].[EMPLOYEES_TERRITORIES] ([Employee_CD], [Territory_CD]) VALUES (N'2', N'01581')
GO
INSERT [TMP].[ORDERS] ([Order_CD], [Customer_cd], [Employee_cd], [Order_Date], [Required_Date], [Shipped_Date], [Ship_Via], [Freight], [Ship_name], [Ship_Address], [Ship_City], [Ship_Region], [Ship_PostalCode], [Ship_Country]) VALUES (N'10248', N'VINET', N'5', N'1996-07-04 00:00:00.000', N'1996-08-01 00:00:00.000', N'1996-07-16 00:00:00.000', N'3', N'32.38', N'Vins et alcools Chevalier', N'59 rue de l''Abbaye', N'Reims', N'NULL', N'51100', N'France')
INSERT [TMP].[ORDERS] ([Order_CD], [Customer_cd], [Employee_cd], [Order_Date], [Required_Date], [Shipped_Date], [Ship_Via], [Freight], [Ship_name], [Ship_Address], [Ship_City], [Ship_Region], [Ship_PostalCode], [Ship_Country]) VALUES (N'10249', N'TOMSP', N'6', N'1996-07-05 00:00:00.000', N'1996-08-16 00:00:00.000', N'1996-07-10 00:00:00.000', N'1', N'11.61', N'Toms SpezialitÃ¤ten', N'Luisenstr. 48', N'MÃ¼nster', N'NULL', N'44087', N'Germany')
INSERT [TMP].[ORDERS] ([Order_CD], [Customer_cd], [Employee_cd], [Order_Date], [Required_Date], [Shipped_Date], [Ship_Via], [Freight], [Ship_name], [Ship_Address], [Ship_City], [Ship_Region], [Ship_PostalCode], [Ship_Country]) VALUES (N'10250', N'HANAR', N'4', N'1996-07-08 00:00:00.000', N'1996-08-05 00:00:00.000', N'1996-07-12 00:00:00.000', N'2', N'65.83', N'Hanari Carnes', N'Rua do PaÃ§o 67', N'Rio de Janeiro', N'RJ', N'05454-876', N'Brazil')
GO
INSERT [TMP].[ORDERS_DETAILS] ([Order_CD], [Product_cd], [Unit_Price], [Quantity], [Discount]) VALUES (N'10248', N'11', N'14.00', N'12', N'0')
INSERT [TMP].[ORDERS_DETAILS] ([Order_CD], [Product_cd], [Unit_Price], [Quantity], [Discount]) VALUES (N'10248', N'42', N'9.80', N'10', N'0')
INSERT [TMP].[ORDERS_DETAILS] ([Order_CD], [Product_cd], [Unit_Price], [Quantity], [Discount]) VALUES (N'10248', N'72', N'34.80', N'5', N'0')
GO
INSERT [TMP].[PRODUCTS] ([product_CD], [product_name], [supplier_cd], [category_cd], [Quantity_per_unit], [unit_price], [units_in_stock], [units_on_order], [reorder_level], [discontinued]) VALUES (N'1', N'Chai', N'1', N'1', N'10 boxes x 20 bags', N'18.00', N'39', N'0', N'10', N'0')
INSERT [TMP].[PRODUCTS] ([product_CD], [product_name], [supplier_cd], [category_cd], [Quantity_per_unit], [unit_price], [units_in_stock], [units_on_order], [reorder_level], [discontinued]) VALUES (N'2', N'Chang', N'1', N'1', N'24 - 12 oz bottles', N'19.00', N'17', N'40', N'25', N'0')
INSERT [TMP].[PRODUCTS] ([product_CD], [product_name], [supplier_cd], [category_cd], [Quantity_per_unit], [unit_price], [units_in_stock], [units_on_order], [reorder_level], [discontinued]) VALUES (N'3', N'Aniseed Syrup', N'1', N'2', N'12 - 550 ml bottles', N'10.00', N'13', N'70', N'25', N'0')
GO
INSERT [TMP].[REGIONS] ([Region_CD], [Region_Description]) VALUES (N'1', N'Eastern')
INSERT [TMP].[REGIONS] ([Region_CD], [Region_Description]) VALUES (N'2', N'Western')
INSERT [TMP].[REGIONS] ([Region_CD], [Region_Description]) VALUES (N'3', N'Northern')
GO
INSERT [TMP].[SHIPPERS] ([Shipper_CD], [Company_Name], [Phone]) VALUES (N'1', N'Speedy Express', N'(503) 555-9831')
INSERT [TMP].[SHIPPERS] ([Shipper_CD], [Company_Name], [Phone]) VALUES (N'2', N'United Package', N'(503) 555-3199')
INSERT [TMP].[SHIPPERS] ([Shipper_CD], [Company_Name], [Phone]) VALUES (N'3', N'Federal Shipping', N'(503) 555-9931')
GO
INSERT [TMP].[SUPPLIERS] ([Supp_CD], [Supp_companyName], [Supp_contactName], [Supp_contactTitle], [Supp_address], [Supp_City], [Supp_Region], [Supp_PostalCode], [Supp_Country], [Supp_Phone], [Supp_Fax], [Supp_HomePage]) VALUES (N'1', N'Exotic Liquids', N'Charlotte Cooper', N'Purchasing Manager', N'49 Gilbert St.', N'London', N'NULL', N'EC1 4SD', N'UK', N'(171) 555-2222', N'NULL', N'NULL')
INSERT [TMP].[SUPPLIERS] ([Supp_CD], [Supp_companyName], [Supp_contactName], [Supp_contactTitle], [Supp_address], [Supp_City], [Supp_Region], [Supp_PostalCode], [Supp_Country], [Supp_Phone], [Supp_Fax], [Supp_HomePage]) VALUES (N'2', N'New Orleans Cajun Delights', N'Shelley Burke', N'Order Administrator', N'P.O. Box 78934', N'New Orleans', N'LA', N'70117', N'USA', N'(100) 555-4822', N'NULL', N'#CAJUN.HTM#')
INSERT [TMP].[SUPPLIERS] ([Supp_CD], [Supp_companyName], [Supp_contactName], [Supp_contactTitle], [Supp_address], [Supp_City], [Supp_Region], [Supp_PostalCode], [Supp_Country], [Supp_Phone], [Supp_Fax], [Supp_HomePage]) VALUES (N'3', N'Grandma Kelly''s Homestead', N'Regina Murphy', N'Sales Representative', N'707 Oxford Rd.', N'Ann Arbor', N'MI', N'48104', N'USA', N'(313) 555-5735', N'(313) 555-3349', N'NULL')
GO
INSERT [TMP].[TERRITORIES] ([Territory_CD], [Territory_Description], [Region_CD]) VALUES (N'01581', N'Westboro', N'1')
INSERT [TMP].[TERRITORIES] ([Territory_CD], [Territory_Description], [Region_CD]) VALUES (N'01730', N'Bedford', N'1')
INSERT [TMP].[TERRITORIES] ([Territory_CD], [Territory_Description], [Region_CD]) VALUES (N'01833', N'Georgetow', N'1')
GO
ALTER TABLE [LOG].[DATA_QUALITY_CHECKS] ADD  DEFAULT (getdate()) FOR [AUDDQ_CHECK_DATE]
GO
ALTER TABLE [DWH].[LK_CUSTOMERS]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Country] FOREIGN KEY([Cus_Country_id])
REFERENCES [DWH].[LK_COUNTRIES] ([Ctry_Country_Id])
GO
ALTER TABLE [DWH].[LK_CUSTOMERS] CHECK CONSTRAINT [FK_Customer_Country]
GO
ALTER TABLE [DWH].[LK_CUSTOMERS]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Region] FOREIGN KEY([Cus_Region_id])
REFERENCES [DWH].[LK_REGIONS] ([Region_Id])
GO
ALTER TABLE [DWH].[LK_CUSTOMERS] CHECK CONSTRAINT [FK_Customer_Region]
GO
ALTER TABLE [DWH].[LK_EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Regions] FOREIGN KEY([Emp_Region_id])
REFERENCES [DWH].[LK_REGIONS] ([Region_Id])
GO
ALTER TABLE [DWH].[LK_EMPLOYEES] CHECK CONSTRAINT [FK_Employee_Regions]
GO
ALTER TABLE [DWH].[LK_EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Report] FOREIGN KEY([Emp_Employee_id])
REFERENCES [DWH].[LK_EMPLOYEES] ([Emp_Employee_id])
GO
ALTER TABLE [DWH].[LK_EMPLOYEES] CHECK CONSTRAINT [FK_Employee_Report]
GO
ALTER TABLE [DWH].[LK_EMPLOYEES_TERRITORIES]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Territory] FOREIGN KEY([EmpTer_Territory_Id])
REFERENCES [DWH].[LK_TERRITORIES] ([Territory_Id])
GO
ALTER TABLE [DWH].[LK_EMPLOYEES_TERRITORIES] CHECK CONSTRAINT [FK_Employee_Territory]
GO
ALTER TABLE [DWH].[LK_EMPLOYEES_TERRITORIES]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeEmp] FOREIGN KEY([EmpTer_Employee_id])
REFERENCES [DWH].[LK_EMPLOYEES] ([Emp_Employee_id])
GO
ALTER TABLE [DWH].[LK_EMPLOYEES_TERRITORIES] CHECK CONSTRAINT [FK_EmployeeEmp]
GO
ALTER TABLE [DWH].[LK_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_Order_Country] FOREIGN KEY([Ord_Ship_Country_id])
REFERENCES [DWH].[LK_COUNTRIES] ([Ctry_Country_Id])
GO
ALTER TABLE [DWH].[LK_ORDERS] CHECK CONSTRAINT [FK_Order_Country]
GO
ALTER TABLE [DWH].[LK_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([Ord_Customer_id])
REFERENCES [DWH].[LK_CUSTOMERS] ([Cus_Customer_id])
GO
ALTER TABLE [DWH].[LK_ORDERS] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [DWH].[LK_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([Ord_Employee_id])
REFERENCES [DWH].[LK_EMPLOYEES] ([Emp_Employee_id])
GO
ALTER TABLE [DWH].[LK_ORDERS] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [DWH].[LK_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_Order_Region] FOREIGN KEY([Ord_Ship_Region_Id])
REFERENCES [DWH].[LK_REGIONS] ([Region_Id])
GO
ALTER TABLE [DWH].[LK_ORDERS] CHECK CONSTRAINT [FK_Order_Region]
GO
ALTER TABLE [DWH].[LK_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_OrderShipVia] FOREIGN KEY([Ord_Ship_Via])
REFERENCES [DWH].[LK_SHIPPERS] ([Ship_Shipper_id])
GO
ALTER TABLE [DWH].[LK_ORDERS] CHECK CONSTRAINT [FK_OrderShipVia]
GO
ALTER TABLE [DWH].[LK_ORDERS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_OrderDet_Order] FOREIGN KEY([OrdDet_Order_id])
REFERENCES [DWH].[LK_ORDERS] ([Ord_Order_id])
GO
ALTER TABLE [DWH].[LK_ORDERS_DETAILS] CHECK CONSTRAINT [FK_OrderDet_Order]
GO
ALTER TABLE [DWH].[LK_ORDERS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_OrderDet_Product] FOREIGN KEY([OrdDet_Product_id])
REFERENCES [DWH].[LK_PRODUCTS] ([prod_product_id])
GO
ALTER TABLE [DWH].[LK_ORDERS_DETAILS] CHECK CONSTRAINT [FK_OrderDet_Product]
GO
ALTER TABLE [DWH].[LK_PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([prod_category_id])
REFERENCES [DWH].[LK_CATEGORIES] ([Category_Id])
GO
ALTER TABLE [DWH].[LK_PRODUCTS] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [DWH].[LK_PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([prod_supplier_id])
REFERENCES [DWH].[LK_SUPPLIERS] ([Supp_Supplier_Id])
GO
ALTER TABLE [DWH].[LK_PRODUCTS] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [DWH].[LK_REL_CUSTOMERS_CUSDEMO]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Demo] FOREIGN KEY([CusCusDemo_Customer_id])
REFERENCES [DWH].[LK_CUSTOMERS] ([Cus_Customer_id])
GO
ALTER TABLE [DWH].[LK_REL_CUSTOMERS_CUSDEMO] CHECK CONSTRAINT [FK_Customer_Demo]
GO
ALTER TABLE [DWH].[LK_REL_CUSTOMERS_CUSDEMO]  WITH CHECK ADD  CONSTRAINT [FK_Customer_TypeDemo] FOREIGN KEY([CusCusDemo_Customer_Type_id])
REFERENCES [DWH].[LK_CUSTOMER_DEMOGRAPHICS] ([CusDem_Customer_Type_Id])
GO
ALTER TABLE [DWH].[LK_REL_CUSTOMERS_CUSDEMO] CHECK CONSTRAINT [FK_Customer_TypeDemo]
GO
ALTER TABLE [DWH].[LK_REL_REGION_COUNTRIES]  WITH CHECK ADD  CONSTRAINT [FK_RegionsC_Countries] FOREIGN KEY([RELRC_CountryId])
REFERENCES [DWH].[LK_COUNTRIES] ([Ctry_Country_Id])
GO
ALTER TABLE [DWH].[LK_REL_REGION_COUNTRIES] CHECK CONSTRAINT [FK_RegionsC_Countries]
GO
ALTER TABLE [DWH].[LK_REL_REGION_COUNTRIES]  WITH CHECK ADD  CONSTRAINT [FK_RegionsC_Region] FOREIGN KEY([RELRC_RegionId])
REFERENCES [DWH].[LK_REGIONS] ([Region_Id])
GO
ALTER TABLE [DWH].[LK_REL_REGION_COUNTRIES] CHECK CONSTRAINT [FK_RegionsC_Region]
GO
ALTER TABLE [DWH].[LK_SUPPLIERS]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_Country] FOREIGN KEY([Supp_Id_Country])
REFERENCES [DWH].[LK_COUNTRIES] ([Ctry_Country_Id])
GO
ALTER TABLE [DWH].[LK_SUPPLIERS] CHECK CONSTRAINT [FK_Suppliers_Country]
GO
ALTER TABLE [DWH].[LK_SUPPLIERS]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_DatoContacto] FOREIGN KEY([Supp_ID_DatoContacto])
REFERENCES [DWH].[LK_SUPPLIERS_DATOS_Contacto] ([DatC_Contacto_Id])
GO
ALTER TABLE [DWH].[LK_SUPPLIERS] CHECK CONSTRAINT [FK_Suppliers_DatoContacto]
GO
ALTER TABLE [DWH].[LK_SUPPLIERS]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_Region] FOREIGN KEY([Supp_Id_Region])
REFERENCES [DWH].[LK_REGIONS] ([Region_Id])
GO
ALTER TABLE [DWH].[LK_SUPPLIERS] CHECK CONSTRAINT [FK_Suppliers_Region]
GO
ALTER TABLE [DWH].[LK_TERRITORIES]  WITH CHECK ADD  CONSTRAINT [FK_Territory_Regions] FOREIGN KEY([Territory_Region_Id])
REFERENCES [DWH].[LK_REGIONS] ([Region_Id])
GO
ALTER TABLE [DWH].[LK_TERRITORIES] CHECK CONSTRAINT [FK_Territory_Regions]
GO
ALTER TABLE [LOG].[AUDIT_PROCESS_DATE]  WITH CHECK ADD  CONSTRAINT [FK_Status_Job] FOREIGN KEY([AUDPD_JobId])
REFERENCES [LOG].[AUDIT_JOBS] ([AUDJOB_Job_Id])
GO
ALTER TABLE [LOG].[AUDIT_PROCESS_DATE] CHECK CONSTRAINT [FK_Status_Job]
GO
ALTER TABLE [LOG].[AUDIT_PROCESS_DATE]  WITH CHECK ADD  CONSTRAINT [FK_Status_Process] FOREIGN KEY([AUDPD_Status_ID])
REFERENCES [LOG].[AUDIT_STATUS_PROCESS] ([AUDSP_Status_Id])
GO
ALTER TABLE [LOG].[AUDIT_PROCESS_DATE] CHECK CONSTRAINT [FK_Status_Process]
GO
ALTER TABLE [LOG].[DATA_QUALITY_CHECKS]  WITH CHECK ADD  CONSTRAINT [FK_DQ_JOB] FOREIGN KEY([AUDDQ_JOB_ID])
REFERENCES [LOG].[AUDIT_JOBS] ([AUDJOB_Job_Id])
GO
ALTER TABLE [LOG].[DATA_QUALITY_CHECKS] CHECK CONSTRAINT [FK_DQ_JOB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DWH_Categories]    Script Date: 6/5/2025 23:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DWH_Categories]
AS
BEGIN
    SET NOCOUNT ON;

    -- Realizando el MERGE en la tabla de destino con la tabla fuente

    MERGE INTO [DWH].[LK_CATEGORIES] AS target
    USING [STG].[LK_CATEGORIES] AS source
        ON target.AUD_ROWID = source.AUD_ROWID
        AND target.AUD_ACTIVE_FLAG = 1 -- 1 representa TRUE para AUD_ACTIVE_FLAG en SQL Server
    WHEN NOT MATCHED BY TARGET AND source.AUD_ACTION = 'INSERT' THEN
        INSERT (
            AUD_INSERT_DT,
            AUD_USER_INSERT,
            AUD_ACTIVE_FLAG,
            AUD_ROWID,
            Category_CD,
            Category_Name,
            Category_Description,
            Category_Picture
        )
        VALUES (
            GETDATE(), -- AUD_INSERT_DT
            SYSTEM_USER, -- AUD_USER_INSERT
            1, -- AUD_ACTIVE_FLAG (TRUE)
            source.AUD_ROWID,
            source.Category_CD,
            source.Category_Name,
            source.Category_Description,
            source.Category_Picture
        )
    WHEN MATCHED AND target.AUD_ACTIVE_FLAG = 1 AND source.AUD_ACTION = 'DELETE' THEN
        UPDATE SET
            target.AUD_INSERT_DT = GETDATE(), -- Mantener el campo de fecha actualizado
            target.AUD_USER_INSERT = SYSTEM_USER, -- Mantener el usuario actualizado
            target.AUD_ACTIVE_FLAG = 0 -- 0 representa FALSE para AUD_ACTIVE_FLAG
    ;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DWH_Regions]    Script Date: 6/5/2025 23:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DWH_Regions]
AS
BEGIN
    SET NOCOUNT ON;

    -- Realizando el MERGE en la tabla de destino con la tabla fuente

    MERGE INTO [DWH].[LK_REGIONS] AS target
    USING [STG].[LK_REGIONS] AS source
        ON target.AUD_ROWID = source.AUD_ROWID
        AND target.AUD_ACTIVE_FLAG = 1 
    WHEN NOT MATCHED BY TARGET AND source.AUD_ACTION = 'INSERT' THEN
        INSERT (
            AUD_INSERT_DT,
            AUD_USER_INSERT,
            AUD_ACTIVE_FLAG,
            AUD_ROWID,
            Region_CD,
            Region_Description
			)
        VALUES (
            GETDATE(), -- AUD_INSERT_DT
            SYSTEM_USER, -- AUD_USER_INSERT
            1, -- AUD_ACTIVE_FLAG (TRUE)
            source.AUD_ROWID,
            source.Region_CD,
            source.Region_Description
        )
    WHEN MATCHED AND target.AUD_ACTIVE_FLAG = 1 AND source.AUD_ACTION = 'DELETE' THEN
        UPDATE SET
            target.AUD_INSERT_DT = GETDATE(), -- Mantener el campo de fecha actualizado
            target.AUD_USER_INSERT = SYSTEM_USER, -- Mantener el usuario actualizado
            target.AUD_ACTIVE_FLAG = 0 -- 0 representa FALSE para AUD_ACTIVE_FLAG
    ;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DWH_Shippers]    Script Date: 6/5/2025 23:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DWH_Shippers]
AS
BEGIN
    SET NOCOUNT ON;

    -- Realizando el MERGE en la tabla de destino con la tabla fuente

    MERGE INTO [DWH].[LK_SHIPPERS] AS target
    USING [STG].[LK_SHIPPERS] AS source
        ON target.AUD_ROWID = source.AUD_ROWID
        AND target.AUD_ACTIVE_FLAG = 1 
    WHEN NOT MATCHED BY TARGET AND source.AUD_ACTION = 'INSERT' THEN
        INSERT (
            AUD_INSERT_DT,
            AUD_USER_INSERT,
            AUD_ACTIVE_FLAG,
            AUD_ROWID,
            Ship_Shipper_CD,
            Ship_Company_Name,
			Ship_Phone
			)
        VALUES (
            GETDATE(), -- AUD_INSERT_DT
            SYSTEM_USER, -- AUD_USER_INSERT
            1, -- AUD_ACTIVE_FLAG (TRUE)
            source.AUD_ROWID,
            source.Ship_Shipper_CD,
            source.Ship_Company_Name,
			source.Ship_Phone
        )
    WHEN MATCHED AND target.AUD_ACTIVE_FLAG = 1 AND source.AUD_ACTION = 'DELETE' THEN
        UPDATE SET
            target.AUD_INSERT_DT = GETDATE(), -- Mantener el campo de fecha actualizado
            target.AUD_USER_INSERT = SYSTEM_USER, -- Mantener el usuario actualizado
            target.AUD_ACTIVE_FLAG = 0 -- 0 representa FALSE para AUD_ACTIVE_FLAG
    ;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DWH_Territories]    Script Date: 6/5/2025 23:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DWH_Territories]
AS
BEGIN
    SET NOCOUNT ON;

    -- Realizando el MERGE en la tabla de destino con la tabla fuente

    MERGE INTO [DWH].[LK_TERRITORIES] AS target
    USING [STG].[LK_TERRITORIES] AS source
        ON target.AUD_ROWID = source.AUD_ROWID
        AND target.AUD_ACTIVE_FLAG = 1 
    WHEN NOT MATCHED BY TARGET AND source.AUD_ACTION = 'INSERT' THEN
        INSERT (
            AUD_INSERT_DT,
            AUD_USER_INSERT,
            AUD_ACTIVE_FLAG,
            AUD_ROWID,
            Territory_CD,
            Territory_Description,
			Territory_Region_Id
			)
        VALUES (
            GETDATE(), -- AUD_INSERT_DT
            SYSTEM_USER, -- AUD_USER_INSERT
            1, -- AUD_ACTIVE_FLAG (TRUE)
            source.AUD_ROWID,
            source.Territory_CD,
            source.Territory_Description,
			source.Territory_Region_Id
        )
    WHEN MATCHED AND target.AUD_ACTIVE_FLAG = 1 AND source.AUD_ACTION = 'DELETE' THEN
        UPDATE SET
            target.AUD_INSERT_DT = GETDATE(), -- Mantener el campo de fecha actualizado
            target.AUD_USER_INSERT = SYSTEM_USER, -- Mantener el usuario actualizado
            target.AUD_ACTIVE_FLAG = 0 -- 0 representa FALSE para AUD_ACTIVE_FLAG
    ;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_STG_Categories]    Script Date: 6/5/2025 23:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_STG_Categories] 
AS
BEGIN
    SET NOCOUNT ON;

    -- Truncar la tabla STG
    TRUNCATE TABLE [STG].[LK_CATEGORIES];

    -- Insertar los datos desde TMP con AUD_ROW_ID y acción INSERT
    WITH STG_CATEGORIES AS (
        SELECT
            LTRIM(RTRIM(Category_CD)) AS Category_CD,
            LTRIM(RTRIM(Category_Name)) AS Category_Name,
            LTRIM(RTRIM(Category_Description)) AS Category_Description,
            LTRIM(RTRIM(Category_Picture)) AS Category_Picture 
        FROM [TMP].[CATEGORIES]
        WHERE ISNULL(LTRIM(RTRIM(Category_CD)), '') <> ''
    )
    -- Mecanismo de Control de Versiones
    INSERT INTO [STG].[LK_CATEGORIES] (
        Category_CD,
        Category_Name,
        Category_Description,
        Category_Picture,  -- Mantener el nombre correcto "Category_Picture"
        AUD_INSERT_DT,
        AUD_USER_INSERT,
        AUD_ACTION,
        AUD_ROWID
    )
    SELECT
        bt.Category_CD,
        bt.Category_Name,
        bt.Category_Description,
        bt.Category_Picture,  -- Mantener el nombre correcto "Category_Picture"
        GETDATE() AS AUD_INSERT_DT,
        SYSTEM_USER AS AUD_USER_INSERT,
        'INSERT' AS AUD_ACTION,
        -- Uso de CHECKSUM sobre la concatenación de cadenas
        CHECKSUM(
            ISNULL(bt.Category_CD, ''),
            ISNULL(bt.Category_Name, ''),
            ISNULL(bt.Category_Description, ''),
            ISNULL(bt.Category_Picture, '')  
        ) AS AUD_ROW_ID
    FROM STG_CATEGORIES bt;

    -- Inserto los BORRADOS LÓGICOS
    INSERT INTO [STG].[LK_CATEGORIES] (
        Category_CD,
        Category_Name,
        Category_Description,
        Category_Picture,  
        AUD_INSERT_DT,
        AUD_USER_INSERT,
        AUD_ACTION,
        AUD_ROWID
    )
    SELECT
        dwh.Category_CD,
        dwh.Category_Name,
        dwh.Category_Description,
        dwh.Category_Picture,  -- Mantener el nombre correcto "Category_Picture"
        GETDATE() AS AUD_INSERT_DT,
        SYSTEM_USER AS AUD_USER_INSERT,
        'DELETE' AS AUD_ACTION,
        -- Uso de CHECKSUM sobre la concatenación de cadenas
        dwh.AUD_ROWID
    FROM [DWH].[LK_CATEGORIES] dwh
    LEFT JOIN  [STG].[LK_CATEGORIES] s
     ON dwh.AUD_ROWID = s.AUD_ROWID
    WHERE 1 = 1
	AND dwh.AUD_ACTIVE_FLAG = 1
    AND s.Category_CD IS NULL;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_STG_Regions]    Script Date: 6/5/2025 23:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_STG_Regions] 
AS
BEGIN
    SET NOCOUNT ON;

    -- Truncar la tabla STG
    TRUNCATE TABLE [STG].[LK_REGIONS];

    -- Insertar los datos desde TMP con AUD_ROW_ID y acción INSERT
    WITH STG_REGIONS AS (
        SELECT
            LTRIM(RTRIM(Region_CD)) AS Region_CD,
            LTRIM(RTRIM(Region_Description)) Region_Description
        FROM [TMP].[REGIONS]
        WHERE ISNULL(LTRIM(RTRIM(Region_CD)), '') <> ''
    )
    -- Mecanismo de Control de Versiones
    INSERT INTO [STG].[LK_REGIONS] (
        Region_CD,
        Region_Description,
        AUD_INSERT_DT,
        AUD_USER_INSERT,
        AUD_ACTION,
        AUD_ROWID
    )
    SELECT
        bt.Region_CD,
        bt.Region_Description,
        GETDATE() AS AUD_INSERT_DT,
        SYSTEM_USER AS AUD_USER_INSERT,
        'INSERT' AS AUD_ACTION,
        -- Uso de CHECKSUM sobre la concatenación de cadenas
        CHECKSUM(
            ISNULL(bt.Region_CD, ''),
            ISNULL(bt.Region_Description, '')
        ) AS AUD_ROW_ID
    FROM STG_REGIONS bt;

    -- Inserto los BORRADOS LÓGICOS
    INSERT INTO [STG].[LK_REGIONS] (
        Region_CD,
        Region_Description,
        AUD_INSERT_DT,
        AUD_USER_INSERT,
        AUD_ACTION,
        AUD_ROWID
    )
    SELECT
        dwh.Region_CD,
        dwh.Region_Description,
        GETDATE() AS AUD_INSERT_DT,
        SYSTEM_USER AS AUD_USER_INSERT,
        'DELETE' AS AUD_ACTION,
        dwh.AUD_ROWID
    FROM [DWH].[LK_REGIONS] dwh
    LEFT JOIN  [STG].[LK_REGIONS] s
     ON dwh.AUD_ROWID = s.AUD_ROWID
    WHERE 1 = 1
	AND dwh.AUD_ACTIVE_FLAG = 1
    AND s.Region_CD IS NULL;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_STG_Shippers]    Script Date: 6/5/2025 23:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_STG_Shippers] 
AS
BEGIN
    SET NOCOUNT ON;

    -- Truncar la tabla STG
    TRUNCATE TABLE [STG].[LK_SHIPPERS];

    -- Insertar los datos desde TMP con AUD_ROW_ID y acción INSERT
    WITH STG_SHIPPERS AS (
        SELECT
            LTRIM(RTRIM(Shipper_CD)) AS Shipper_CD,
            LTRIM(RTRIM(Company_Name)) Company_Name,
			LTRIM(RTRIM(Phone)) Phone
        FROM [TMP].[SHIPPERS]
        WHERE ISNULL(LTRIM(RTRIM(Shipper_CD)), '') <> ''
    )
    -- Mecanismo de Control de Versiones
    INSERT INTO [STG].[LK_SHIPPERS] (
        Ship_Shipper_CD,
        Ship_Company_Name,
		Ship_Phone,
        AUD_INSERT_DT,
        AUD_USER_INSERT,
        AUD_ACTION,
        AUD_ROWID
    )
    SELECT
        bt.Shipper_CD,
        bt.Company_Name,
		bt.Phone,
        GETDATE() AS AUD_INSERT_DT,
        SYSTEM_USER AS AUD_USER_INSERT,
        'INSERT' AS AUD_ACTION,
        -- Uso de CHECKSUM sobre la concatenación de cadenas
        CHECKSUM(
            ISNULL(bt.Shipper_CD, ''),
            ISNULL(bt.Company_Name, ''),
			ISNULL(bt.Phone, '')
        ) AS AUD_ROW_ID
    FROM STG_SHIPPERS bt;

    -- Inserto los BORRADOS LÓGICOS
    INSERT INTO [STG].[LK_SHIPPERS] (
        Ship_Shipper_CD,
        Ship_Company_Name,
		Ship_Phone,
        AUD_INSERT_DT,
        AUD_USER_INSERT,
        AUD_ACTION,
        AUD_ROWID
    )
    SELECT
        dwh.Ship_Shipper_CD,
        dwh.Ship_Company_Name,
		dwh.Ship_Phone,
        GETDATE() AS AUD_INSERT_DT,
        SYSTEM_USER AS AUD_USER_INSERT,
        'DELETE' AS AUD_ACTION,
        dwh.AUD_ROWID
    FROM [DWH].[LK_SHIPPERS] dwh
    LEFT JOIN  [STG].[LK_SHIPPERS] s
     ON dwh.AUD_ROWID = s.AUD_ROWID
    WHERE 1 = 1
	AND dwh.AUD_ACTIVE_FLAG = 1
    AND s.Ship_Shipper_CD IS NULL;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_STG_Territories]    Script Date: 6/5/2025 23:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_STG_Territories] 
AS
BEGIN
    SET NOCOUNT ON;

    -- Truncar la tabla STG
    TRUNCATE TABLE [STG].[LK_TERRITORIES];

    -- Insertar los datos desde TMP con AUD_ROW_ID y acción INSERT
    WITH STG_TERRITORIES AS (
        SELECT
            LTRIM(RTRIM(Territory_CD)) AS Territory_CD,
            LTRIM(RTRIM(Territory_Description)) Territory_Description,
			COALESCE(d.Region_Id,-1) Region_Id
        FROM [TMP].[TERRITORIES] s
		LEFT JOIN  [DWH].[LK_REGIONS] d
		ON LTRIM(RTRIM(s.Region_CD))= d.Region_CD
        WHERE ISNULL(LTRIM(RTRIM(Territory_CD)), '') <> ''
		AND d.AUD_ACTIVE_FLAG = 1
    )
    -- Mecanismo de Control de Versiones
    INSERT INTO [STG].[LK_TERRITORIES] (
        Territory_CD,
        Territory_Description,
		Territory_Region_Id,
        AUD_INSERT_DT,
        AUD_USER_INSERT,
        AUD_ACTION,
        AUD_ROWID
    )
    SELECT
        bt.Territory_CD,
        bt.Territory_Description,
		bt.Region_Id,
        GETDATE() AS AUD_INSERT_DT,
        SYSTEM_USER AS AUD_USER_INSERT,
        'INSERT' AS AUD_ACTION,
        -- Uso de CHECKSUM sobre la concatenación de cadenas
        CHECKSUM(
            ISNULL(bt.Territory_CD, ''),
            ISNULL(bt.Territory_Description, ''),
			ISNULL(bt.Region_Id, '')
        ) AS AUD_ROW_ID
    FROM STG_TERRITORIES bt;

    -- Inserto los BORRADOS LÓGICOS
    INSERT INTO [STG].[LK_TERRITORIES] (
        Territory_CD,
        Territory_Description,
		Territory_Region_Id,
        AUD_INSERT_DT,
        AUD_USER_INSERT,
        AUD_ACTION,
        AUD_ROWID
    )
    SELECT
        dwh.Territory_CD,
        dwh.Territory_Description,
		dwh.Territory_Region_Id,
        GETDATE() AS AUD_INSERT_DT,
        SYSTEM_USER AS AUD_USER_INSERT,
        'DELETE' AS AUD_ACTION,
        dwh.AUD_ROWID
    FROM [DWH].[LK_TERRITORIES] dwh
    LEFT JOIN  [STG].[LK_TERRITORIES] s
     ON dwh.AUD_ROWID = s.AUD_ROWID
    WHERE 1 = 1
	AND dwh.AUD_ACTIVE_FLAG = 1
    AND s.Territory_CD IS NULL;

END;
GO
/****** Object:  StoredProcedure [LOG].[DWH_End_Log]    Script Date: 6/5/2025 23:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [LOG].[DWH_End_Log]
    @JobName VARCHAR(50),
    @StatusName VARCHAR(50),
    @Observations VARCHAR(100) = 'Fin automático'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @JobId INT;
    DECLARE @StatusId INT;

    -- Obtener ID del Job activo
    SELECT @JobId = AUDJOB_Job_Id
    FROM [LOG].[AUDIT_JOBS]
    WHERE AUDJOB_Job_Name = @JobName
      AND AUDPD_ACTIVE_FLAG = 1;

    IF @JobId IS NULL
    BEGIN
        RAISERROR('No se encontró un Job activo con el nombre proporcionado.', 16, 1);
        RETURN;
    END

    -- Obtener ID del status activo
    SELECT @StatusId = AUDSP_Status_Id
    FROM [LOG].[AUDIT_STATUS_PROCESS]
    WHERE AUDPD_Status = @StatusName
      AND AUDPD_ACTIVE_FLAG = 1;

    IF @StatusId IS NULL
    BEGIN
        RAISERROR('No se encontró un estado activo con el nombre proporcionado.', 16, 1);
        RETURN;
    END

    -- Actualizar el último proceso sin finalizar del Job
	UPDATE LOG.AUDIT_PROCESS_DATE
	SET 
		AUDPD_END_Data = GETDATE(),
		AUDPD_Status_ID = @StatusId,
		AUDPD_Observations = @Observations
	WHERE 
		AUDPD_JobId = @JobId
		AND AUDPD_END_Data IS NULL
		AND AUDPD_Id = (
			SELECT MAX(AUDPD_Id)
			FROM LOG.AUDIT_PROCESS_DATE
			WHERE 
				AUDPD_JobId = @JobId
				AND AUDPD_END_Data IS NULL
		);


    -- Validación adicional si no se encontró ningún proceso para cerrar
    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('No se encontró ninguna ejecución en curso para el Job especificado.', 16, 1);
    END
END;
GO
/****** Object:  StoredProcedure [LOG].[DWH_Start_Log]    Script Date: 6/5/2025 23:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [LOG].[DWH_Start_Log]
    @JobName VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @JobId INT;
    DECLARE @StatusId INT;

    -- Obtener ID del Job activo
    SELECT @JobId = AUDJOB_Job_Id
    FROM [LOG].[AUDIT_JOBS]
    WHERE AUDJOB_Job_Name = @JobName
      AND AUDPD_ACTIVE_FLAG = 1;

    IF @JobId IS NULL
    BEGIN
        RAISERROR('No se encontró un Job activo con el nombre proporcionado.', 16, 1);
        RETURN;
    END

    -- Obtener ID del estado 'RUNNING' activo
    SELECT @StatusId = AUDSP_Status_Id
    FROM [LOG].[AUDIT_STATUS_PROCESS]
    WHERE AUDPD_Status = 'RUNNING'
      AND AUDPD_ACTIVE_FLAG = 1;

    IF @StatusId IS NULL
    BEGIN
        RAISERROR('No se encontró un estado activo con nombre RUNNING.', 16, 1);
        RETURN;
    END

    -- Insertar registro en tabla de auditoría de ejecución
    INSERT INTO [LOG].[AUDIT_PROCESS_DATE] (
        AUDPD_JobId,
        AUDPD_Start_Date,
        AUDPD_END_Data,
        AUDPD_Status_ID,
        AUDPD_Observations
    )
    VALUES (
        @JobId,
        GETDATE(),
        NULL,
        @StatusId,
        'Inicio automático'
    );
END;
GO
USE [master]
GO
