ALTER PROCEDURE [LOG].[DWH_Start_Log]
    @JobName VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @JobId INT;
    DECLARE @StatusId INT;

    -- Obtener ID del Job activo
    SELECT @JobId = AUDJOB_Job_Id
    FROM [LOG].[AUDIT_JOBS]
    WHERE AUDJOB_Job_Name = @JobName
      AND AUDPD_ACTIVE_FLAG = 1;

    IF @JobId IS NULL
    BEGIN
        RAISERROR('No se encontró un Job activo con el nombre proporcionado.', 16, 1);
        RETURN;
    END

    -- Obtener ID del estado 'RUNNING' activo
    SELECT @StatusId = AUDSP_Status_Id
    FROM [LOG].[AUDIT_STATUS_PROCESS]
    WHERE AUDPD_Status = 'RUNNING'
      AND AUDPD_ACTIVE_FLAG = 1;

    IF @StatusId IS NULL
    BEGIN
        RAISERROR('No se encontró un estado activo con nombre RUNNING.', 16, 1);
        RETURN;
    END

    -- Insertar registro en tabla de auditoría de ejecución
    INSERT INTO [LOG].[AUDIT_PROCESS_DATE] (
        AUDPD_JobId,
        AUDPD_Start_Date,
        AUDPD_END_Data,
        AUDPD_Status_ID,
        AUDPD_Observations
    )
    VALUES (
        @JobId,
        GETDATE(),
        NULL,
        @StatusId,
        'Inicio automático'
    );
END;
